:root {
  --primary-background-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-background-color: #000000;
  --secondary-text-color: #ffffff;
  --ternary-text-color: #00c0f1;
  --tertiary-background-color: #ce4a76;
}
